body {
  font-family: Arial, sans-serif;
  margin: 40px;
  color: #222;
  line-height: 1;
}

/* ENCABEZADO */
.header {
  text-align: center;
  margin-bottom: 5px;
}
.header p {
  text-align: justify;
  margin: 0 auto;
   max-width: 1000px;
}

.header h1 {
  margin-bottom: 5px;
}

.header h2 {
  font-weight: normal;
  margin-bottom: 5px;
}

/* COLUMNAS */
.columns {
  display: grid;
  grid-template-columns: 33% 67%;
  gap: 20px;
      max-width: 1200px; /* Límite máximo de ancho */
    margin: 0 auto;    /* Esto centra horizontalmente */
    padding: 20px;     /* Opcional: espacio interno */
}

/* COLUMNA IZQUIERDA */
.left-column section {
  margin-bottom: 30px;
 
}

/* COLUMNA DERECHA */
.right-column article {
  margin-bottom: 30px;
}

p{font-size: 15px;}

li{font-size: 15px;
}

h3 {
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
  margin-bottom: 15px;
  
}

ul {
  padding-left: 20px;
}

@media print {
  body {
    background: white;
  }

  .cv-container {
    box-shadow: none;
    margin: 0;
    max-width: 100%;
  }
}