.header {
  max-width: 1000px;    /* Ancho máximo del header */
  margin: 0 auto;       /* Centra el bloque horizontalmente */
  text-align: center;   /* Centra el texto interior */
}

h3 {
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.date {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 1rem;
  margin: 0
}
